@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h3>List Product</h3>
<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Add Product</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                @* <td>@item.Description</td> *@
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Price</td>
                @* <td><img src="~/images/@item.Image" width="120"/></td> *@
                <td><img src="~/images/products/@item.Image" width="120" /></td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>

                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
      
    </tbody>
</table>