@using ShoppingOnline.Models.ViewModels
@model CartItemViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Cart</h2>
@{
}

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					@if(Model.CartItems.Count > 0)
					{
						@foreach(var item in Model.CartItems)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~/images/@item.Image" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>@item.Price</p>
								</td>
								<td>
									@* <div class="cart_quantity_button"> *@
										<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId">+</a>
										<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
										<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
										<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a>
									@* </div> *@
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity*x.Price).ToString()</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
						<tr rowspan="6">
							<td colspan="6">Grand Total: <p class="cart_total_price">@Model.GrandTotal.ToString()</p></td>
							<td><a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Clear"> Clear </a></td>
						</tr>
					} else
					{
						<tr>
							<td colspan="5">
							</td>
						</tr>
						<h4>Your cart is empty</h4>
					}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->