
@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					
					<div class="single-products">
						
							<div class="productinfo text-center">
								<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
								<img src="~/images/@item.Image" alt="@item.Name" width="100%" />
								<h2>$@item.Price</h2>
								<p>@item.Name</p>
								<p>Danh mục: @item.Category.Name</p>
								<p>Thương hiệu: @item.Brand.Name</p>
								</a>
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a>

							</div>
						
						</div>
					
					</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
		}
	</div><!--features_items-->
</div>